<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hopu.mapper.FocusMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hopu.entity.Focus">
        <id column="focus_id" property="focusId" />
        <result column="users_id" property="usersId" />
        <result column="goods_id" property="goodsId" />
        <result column="focus_time" property="focusTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        focus_id, users_id, goods_id, focus_time
    </sql>

</mapper>
