<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hopu.mapper.GoodsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hopu.entity.Goods">
        <id column="goods_id" property="goodsId" />
        <result column="goods_name" property="goodsName" />
        <result column="goods_oprice" property="goodsOprice" />
        <result column="goods_price" property="goodsPrice" />
        <result column="goods_store" property="goodsStore" />
        <result column="goods_picture" property="goodsPicture" />
        <result column="goods_describe" property="goodsDescribe" />
        <result column="goodstype_id" property="goodstypeId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        goods_id, goods_name, goods_oprice, goods_price, goods_store, goods_picture, goods_describe, goodstype_id
    </sql>

</mapper>
